# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Build output (si tu as un build, sinon ignore)
dist/
build/

# Test coverage
coverage/

# Temporary files
*.tmp
*.swp
